/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/MemoryCaptures/
/Recordings/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.suo
*.tmp
*.unitypackage
*.apk
*.aab
*.ipa
.vs/
crashlytics-build.properties
/PlaytestScreenshots/
/Demo/